*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}




#back-button{
    position: fixed;
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;

    visibility: hidden;

    z-index: 100;
}








#navbar, #projects{
    display: none;
}

#welcome-section{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
}

#welcome-section h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

#job{
    color: #444;
    margin-bottom: .5rem;
}

#skills-presentation{
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.9rem;
}

#welcome-section img{
    width: 60%;
    margin-bottom: 1rem;
}

#about-me-presentation{
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: #333;
    font-size: .8rem;
    text-align: center;
}

#social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
}

#social a{
    color: #333;
    font-size: 2rem;
}

#lets-go{
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

#lets-go-button{
    background: #000;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

#lets-go-button::after{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: #000;
    display: block;
    border-radius: 100%;

    animation-name: lets-go-button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes lets-go-button {
    from {
        background-color: #fff;
        opacity: 1;
    }
    to {
        background-color: #000;
        opacity: 0;
        height: 50px;
        width: 50px;
    }
}











#navbar{
    position: absolute;
    
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #333;
    z-index: 10;

    transition: all .5s ease;

    visibility: hidden;
    opacity: 0;
}

#navbar h1{
    color: #fff;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#navbar a{
    width: 70%;
    height: 3rem;
    
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 .3rem .5rem #000;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

#navbar #main-link{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/welcomeLink.jpg');

    background-size: cover;
    background-position-y: center;
}

#navbar #projects-link{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/projectsLink.jpg');

    background-size: cover;
    background-position-y: center;
}

#navbar #skills-link{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/skillsLink.jpg');

    background-size: cover;
    background-position-y: center;
}

#navbar #about-link{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/aboutLink.jpg');

    background-size: cover;
    background-position-y: center;
}

#navbar #contact-link{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/contactLink.jpg');

    background-size: cover;
    background-position-y: center;
}











#projects{
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    visibility: hidden;
}

#projects-container{
    background-color: #eee;
    height: 90%;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 .4rem 1rem #000;

    display: flex;
    align-items: flex-start;

    overflow-y: auto;
    overflow-x: hidden;
   
    
}


#project-slider{
    display: flex;
    align-items: flex-start;
    width: 100%;
    transition: all .5s ease;
}


.project-tile{
    width: 100%;
    height: 80%;   

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    overflow: hidden;
    
}

.project-tile a{
    color: #000;
    text-decoration: none;
    margin-top: 2rem;
}
.project-tile p{
    color: #333;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.project-preview{
    width: 60vh;
}


.skills-used{
    width: 100%;

    margin-top: 1rem;
    display: flex;
    justify-content: space-around;

    font-size: 2rem;
}

#control{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#control div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}




/* ////////////////////////////////////////////////////////////////////77 */
/* COMODIDADES */

/* #welcome-section,
#projects{
    display: none;
} */
/* ////////////////////////////////////////////////////////////////////77 */



#skills{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;

}

.skill{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 3fr;
    margin-bottom: 2rem;

    grid-column-gap: 2rem;
}

.skill-logo{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;

    font-size: 3rem;
}

.skill h3{
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}

.skill-description{
    grid-column: 2 / 5;
    grid-row: 2 / 3;

    align-self: center;
    justify-self: center;


}

.skill-description ul{
    list-style: square;
}
.skill-description li{
    margin: 1rem 0;

}


